<div class="container w-container" fxLayout="column" fxLayoutAlign=" center">
  <div class="logos" fxLayout="row" fxLayoutAlign="space-evenly center">
    <img src="assets/logo-dark-horizontal.png" />
    <img class="partner-logo" [src]="partner.logo" />
  </div>

  <h2>
    Mynd & {{ partner.name }} have partnered
    to provide property management services
    to real estate investors like you.
  </h2>

  <p>
    Your rentals are among your most valuable assets,
    so you should always understand how they’re performing.
    Mynd gives you full transparency and visibility into all service requests,
    lease applications, rent collection and financial reports.
  </p>

  <a href="#cta">
    Learn more about Mynd today!
  </a>
</div>
