:host {
  display: flex;
  padding: 120px 0;

  .container {
    text-align: center;
  }

  .logos {
    width: 75%;

    img {
      max-width: 30%;

      border: 0;
      display: inline-block;
      vertical-align: middle;

      &.partner-logo {
        height: 80%;
        min-height: auto;
      }
    }
  }

  h2 {
    color: #0a253a;
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
  }

  p {
    font-size: 18px;
  }

  a {
    line-height: 50px;
    margin-top: 40px;
    width: 350px;

    background-image: linear-gradient(45deg, #38b87c, #008987);
    border-radius: 25px;
    color: #f3f4f5;
    text-decoration: none;
  }
}
