:host {
  background-color: #0a253a;
  display: block;

  .container {
    padding-top: 48px;
    padding-bottom: 72px;
  }

  .footer-legal {
    color: #84929c;
    font-size: 12px;

    border-top: 1px solid #485c6c;
    margin-top: 40px;
    padding-top: 16px;
  }
}
